#main-container {
    background-color: white;
    height: auto;
}

#holes {
    vertical-align: top;
    width: auto;
    float: center;
    display: flex;  
}
#mole {
    margin: 0 auto; 
}

#score {
    color: #00008A;
    font-size: 32;
    margin: 0 auto; 
}
#etc {
    vertical-align: top;
    width: auto;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#startDiv{
    margin: 0 auto; 
}
#blank_div{
    height: 1%;
}
html, body {
    height: 100%;
}
img {
    width: 100px;
    height: 100px;
}